<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <add key="provider" value="sqlServer2.0" />
  <add key="connectionString" value="Data Source=.\sqlexpress;Initial Catalog=BIMWEB_Test;Integrated Security=True" />
  <add key="root" value="ConsoleAppTest." />
  <add key="assembly" value="ConsoleAppTest" />

  <add key="userid" value="sa" />
  <add key="password" value="123456" />
  <add key="database" value="BIMWEB_Test" />
  <add key="datasource" value="localhost" />
  <add key="selectKey" value="select @@IDENTITY as value" />
  <add key="directory" value="Maps" />
  <add key="useStatementNamespaces" value="false" />
</settings>